<ion-view view-title="Sign-In">
    <ion-content>
        <div layout layout-sm="column">
            <p>
                There's no username/password, just click
                the Sign-In button back a the sign-in view.
            </p>
        </div>

        <div layout layout-sm="column">
            <p class="text-center">
                <a href="#/sign-in">Sign In</a>
            </p>
        </div>


    </ion-content>
</ion-view>