<ion-view view-title="Sign-In">
    <ion-content>
        <input type="text" ng-model="user.username" placeholder="Username">
        <input type="password" ng-model="user.password" placeholder="Password">
        <button ng-click="signIn()" flex class="button button-block button-positive">
            Sign-In
        </button>
        <button ui-sref="tab.near" flex class="button button-block button-balanced">
            Register
        </button>
        <p class="text-center">
            <a href="#/forgot-password">Forgot password</a>
        </p>


    </ion-content>
</ion-view>