<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <!--<img ng-src="{{friend.face}}">-->
        <h2>{{friend.name}}</h2>
        <h3>Last played at {{friend.lastPlayed.name}} at <span>{{friend.lastPlayed.time | date}}</span></h3>

          <span class="item-note">{{friend.numberOfCheckins}}
              <i ng-style="{color: friend.levelDirection>0?'green':'red' }"
                 class="icon"
                 ng-class="{'ion-arrow-up-a':friend.levelDirection>0, 'ion-arrow-down-a':friend.levelDirection<=0 }"></i>
          </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
