<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Friends Tab -->
  <ion-tab title="Near" icon-off="ion-map" icon-on="ion-map" ui-sref="tab.near">
    <ion-nav-view name="tab-near"></ion-nav-view>
  </ion-tab>

  <!-- Tournament Tab -->
  <ion-tab title="Tournament" icon-off="ion-trophy" icon-on="ion-trophy" ui-sref="tab.tournament">
    <ion-nav-view name="tab-tournament"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <!--<ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>-->



</ion-tabs>
