<ion-list>
    <ion-item class="item item-icon-right" ng-repeat="location in tournamentList.locations"
              type="item-text-wrap" ui-sref='tab.tournament-players({tournamentId: "1"})'>

        <h2><b>{{location.name}}</b></h2>
        <p>{{location.date}}</p>
    </ion-item>
</ion-list>