<div class="location-header">
    <div class="text-center" ng-click="navigateTo()">
        <h1 ng-bind="location.name"></h1>

        <h1 ng-show="!location">Loading...</h1>

        <h3 ng-show="location.check_ins_count">{{location.check_ins_count}} Check Ins</h3>
        <h4>

            <p>

            <div>{{location.street}}</div>
            <div>{{location.postalcode}}{{location.city}}</div>
            <div>{{ location.table_info }}</div>
            </p>

            <div ng-show="location.my_check_ins_count">You checked in {{location.my_check_ins_count}} times!</div>
            <div class="item item-image"></div>
        </h4>
    </div>
</div>


<button ng-if="!location.already_checked_in" ng-click="navigateTo()" class="button button-full button-stable">
    Open Navigation ({{location.distance | number:2}} km)
    <i class="ion-navigate"></i>
</button>


<!-- TODO: Switch? -->
<button ng-if="location.distance == undefined && !location.already_checked_in"
        class="button button-full button-energized" disabled>
    Fetching your location ...
</button>
<button ng-click="checkIn(location.id)"
        ng-if="!location.already_checked_in && location.distance != undefined && location.distance <= 1"
        class="button button-full button-balanced">
    Check In ({{location.distance | number:2}} km)
</button>

<button ng-if="location.already_checked_in && !location.already_checked_in_announced"
        ng-click="checkOut(location.id,location.already_checked_in.id)"
        class="button button-full button-balanced">
    You checked in {{location.already_checked_in.created_at | timeAgo}}
</button>

<button ng-click="announceCheckIn(location.id)"
        ng-if="!location.already_checked_in_announced && !location.already_checked_in"
        class="button button-full button-royal">
    I'll will be there today!
</button>
<button ng-if="location.already_checked_in_announced"
        class="button button-full button-royal">
    You announced yourself!
</button>


<div class="md-theme-light">
    <h4 class="md-toolbar-tools">
        <ng-pluralize count="location.now_checked_in.length" when="{
        '0': 'Nobody is here',
        'one': 'One person is here!',
        'other': '{} people are here!'
        }"></ng-pluralize>
    </h4>
</div>
<!--<md-content ng-if="location.now_checked_in.length">
    <md-list>
        <md-item>
            <span class="" ng-repeat="entry in location.now_checked_in">
                <img class="avatar" src="img/avatar.png">
            </span>

            <md-divider md-inset ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</md-content>
<md-toolbar class="md-theme-light" ng-if="location.top5_check_ins.length">
    <h2 class="md-toolbar-tools">
        <span>Top 5 in {{location.name}}</span>
    </h2>
</md-toolbar>
<md-content ng-if="location.top5_check_ins.length>0">
    <div class="">
        <span class="row" ng-repeat="entry in location.top5_check_ins">
                <img class="avatar col-33" src="img/avatar.png">

                <div class="col-66 padding">
                    <h3>{{entry.user.email}}</h3>

                    <p>{{entry.local_check_ins}} Checkins</p>
                </div>

        </span>
    </div>
</md-content>-->
