<form name="kickerForm" class="list">
    <div class="row">
        <label class="item item-input item-floating-label col">
            <span class="input-label">Name</span>
            <input type="text" ng-model="location.name" placeholder="Name">
        </label>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <label class="item item-input item-floating-label col">
            <span class="input-label">Email</span>
            <input type="text" ng-model="location.email">
        </label>
        <label class="item item-input item-floating-label col">
            <span class="input-label">Phone</span>
            <input type="text" ng-model="location.phone">
        </label>
        <label class="item item-input item-floating-label col">
            <span class="input-label">Homepage</span>
            <input type="text" ng-model="location.homepage_url">
        </label>
    </div>

    <div class="row">
        <label class="item item-input item-floating-label col">
            <span class="input-label">Table</span>
            <input type="text" ng-model="location.table_info">
        </label>
        <!-- May via icons?Stars -->
        <label class="item item-input item-floating-label col">
            <span class="input-label">Table-Status</span>
            <input type="text" ng-model="location.table_state">
        </label>
        <!-- May via icons?Stars -->
        <label class="item item-input item-floating-label col">
            <span class="input-label">Skill</span>
            <input type="text" ng-model="location.skill_level">
        </label>
    </div>

    <label class="item item-input item-floating-label col">
        <span class="input-label">Other</span>
        <textarea ng-model="location.other" columns="1" md-maxlength="150"></textarea>
    </label>
</form>