<ion-view view-title="{{location.name || 'Location'}}">
    <ion-content>

        <div class="list card">

            <kicker-location></kicker-location>


            <!--<button ui-sref="tab.near-location-edit({locationId: location.id})" class="button button-full button-light">
                Edit this location
            </button>-->


        </div>
</ion-view>