<ion-view view-title="Near">
    <!--<ion-nav-buttons side="left">
            <button class="button button-balanced">
                <i class="icon ion-network"></i>New Location
            </button>
    </ion-nav-buttons>-->
    <ion-content>
        <div class="row range range-positive">
            <input class="col" type="range" ng-model="options.radius" aria-label="radius"/>
            <button class="col col-25 button button-positive" ng-click="search()" class="md-raised md-primary">{{options.radius}} km</button>
        </div>

        <ion-list>
            <ion-item class="item item-icon-right" ng-repeat="location in locations"
                      type="item-text-wrap" ui-sref='tab.near-location({locationId: location.id})'>

                <h2><b>{{location.name}}</b> ({{ location.table_info }})</h2>


                <span ng-if="location.now_checked_in.length" class="badge badge-assertive" style="margin-top:25px;margin-right:20px">{{location.now_checked_in.length}}</span>
                <span ng-if="location.current_check_in_announcements.length" class="badge badge-energized" style="margin-top:25px;margin-right:50px">{{location.current_check_in_announcements.length}}</span>
                <p>{{location.distance| number:2}}km - {{location.check_ins_count}} Check Ins</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
