<ion-view view-title="Tournament Players">
    <!--<ion-nav-buttons side="left">
            <button class="button button-balanced">
                <i class="icon ion-network"></i>New Location
            </button>
    </ion-nav-buttons>-->
    <ion-content>
        <tournament-players></tournament-players>
    </ion-content>
</ion-view>
