<div>
    <h2><a ui-sref='tab.near-location({locationId: location.id})'>{{::location.name}}</a></h2>

    <h3>{{::location.street}} {{::location.postalcode}} {{::location.city}}</h3>

    <div>{{::location.table_info}}({{::location.table_state}})</div>
    <div>{{::location.playing_hours}}</div>
    <div>{{::location.skill_level}}</div>

</div>