<ion-view view-title="Location">
    <ion-content>

        <div class="list card">

            <div ng-include="'templates/includes/_show-location.html'"></div>


            <!--<a ui-sref="tab.map-location-edit({locationId: location.id})">
                <button class="button button-full button-light">
                    Edit this location
                </button>
            </a>-->


        </div>
</ion-view>